@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;600;800&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100vh;
    background-image: linear-gradient(to right, hsl(200, 100%, 50%), hsl(175, 100%, 50%));
  
}

h1 {
    font-family: Inter, sans-serif;
    margin-bottom: -20px;
}

.top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
}

.main-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

img {
    width: 160px;
}

.clef-note {
    margin-bottom: -30px;
}

.note-name {
    padding-bottom: 10px;
    font-family: Inter, sans-serif;
    color: black;
    font-weight: 600;
}



.neck-container:after {
    content: '';
    height: 10px;
    width: 10px;
    background-color: beige;

}

.fret {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    margin-top: 55px;
    box-shadow: 1px -4px 62px -14px rgba(209, 253, 81, 0.75);
    -webkit-box-shadow: 1px -4px 62px -14px rgba(209, 253, 81, 0.75);
    -moz-box-shadow: 1px -4px 62px -14px rgba(209, 253, 81, 0.75);

}

.first-fret {
    position: absolute;
    margin-left: 89px;
}

.third-fret {
    position: absolute;
    margin-left: 189px;
}

.fifth-fret {
    position: absolute;
    margin-left: 289px;
}

.seventh-fret {
    position: absolute;
    margin-left: 389px;
}

.ninth-fret {
    position: absolute;
    margin-left: 489px;
}

.twelfth-fret-top {
    position: absolute;
    margin-top: 25px;
    margin-left: 639px;
}

.twelfth-fret-bottom {
    position: absolute;
    margin-top: 85px;
    margin-left: 639px;
}

.e-string-container,
.a-string-container,
.d-string-container,
.g-string-container {
    display: flex;
}

.letter-box {
    width: 15px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    font-family: Inter, sans-serif;
}

.open-note {
    height: 30px;
    background: rgb(0, 0, 0);
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-right: 3px solid gray;
}

.open-note::after {
    content: '';
    width: 40px;
    height: 10px;
    background-color: gray;
    margin: 0;
}

.note.top
 {
    background: linear-gradient(180deg, rgba(2, 0, 36, 0.9108237044817927) 0%, rgba(106, 1, 1, 1) 18%);
}

.note.bottom {
    background: linear-gradient(180deg, rgba(106, 1, 1, 1) 89%, rgba(2, 0, 36, 0.9108237044817927) 100%);
}

.open-note.top, .open-note.bottom {
    background-color: black;
}

.note {
    width: 50px;
    height: 30px;
    background: rgba(106, 1, 1, 0.936);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-right: 3px solid gray;
}



.note::after,
.open-note::after {
    content: '';
    width: 50px;
    height: 10px;
    background: linear-gradient(180deg, rgba(2, 0, 36, 0.9108237044817927) 0%, rgba(161, 161, 161, 1) 53%, rgba(2, 0, 36, 1) 100%);
    margin: 0;
}


.note:hover::after,
.open-note:hover::after {
    content: '';
    background: linear-gradient(180deg, rgba(2, 0, 36, 0.9108237044817927) 0%, rgb(209, 209, 209) 53%, rgba(2, 0, 36, 1) 100%);
    cursor: pointer;
}